@import url('https://fonts.googleapis.com/css?family=Montserrat|Orbitron');

@keyframes title_fadein{
    from{ opacity: 0 }
    to{ opacity: 1 }
}

body{
    font-family: 'Montserrat';
    background: fixed url('background_mm.jpg');
    margin: 0;
    padding: 0;
}

.represent{
    display: flex;
    height: 100%;
    background: black;
    align-items: center;
    justify-content: center;
}

.represent>div{
    text-align: center;
}

img:first-of-type{
    margin-left: 10%;
    width: 25%;
    height: 30%;
}

#title{
    color: navajowhite;
    font-size: 60Px;
    opacity: 0;
    animation-name: title_fadein;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#mastermind{
    font-size: 80Px;
    font-family: 'Orbitron';
    color: darkred;
    opacity: 0;
    animation-name: title_fadein;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: #E5E995;
}
.content>div{
    width: 30%;
    text-align: center;
    font-size: 30Px;
}
a{
    text-decoration: none;
    color: black;
}
.button{
    border: 3Px solid black;
    transition: box-shadow 0.5s;
}

.button:hover{
    box-shadow:2px 2px 10px 2px #191919;
}