@{
    ViewBag.Title = "Choose";
}
<div class="jumbotron" style="background:none">
    <h1>Mastermind is a very interesting game for everyone, enjoy it and have fun</h1>
</div>
<div class="col-md-3">
    <h3>
        This mode of mastermind is about
        some basic rules of classic mastermind.
        It will be appropriate if you're beginner.
        Its onty availible to set 4 different colours
    </h3>
    <a href="/game?mode=Classic" class="btn btn-primary">Classic</a>
</div>

<div class="col-md-3 col-md-offset-1">
    <h3>
        Try this, if you are fond of mastermind or 
        just clever person. Unlike normal mode, your
        rival can set one colour in 
        different slots, so, be careful!
    </h3>
    <a href="/game?mode=Hard" class="btn btn-warning">Hard</a>
</div>

<div class="col-md-3 col-md-offset-1">
    <h3>Wanna play first time in your life? No problem, we can explain 
    basic rules special for you</h3>
    <a href="/Rules" class="btn btn-success">Learn basic</a>
</div>