@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  ViewBag.Title = "Rules";
}
<div class="row">
    <h3 class="col-md-4">
        Here you have just 12 attemts to guess what the code is.
        The code is consists of 4 colors (they are different, if you are playing Classic mode),
        but they can repeat (hard mode).
    </h3>

    <img src="~/images/tutor1.png" height="180" width="600" />
</div>
<div class="row">
    <h3 class="col-md-4">
        Nobody knows what the colors are, except server. It will give you some useful information.
        On the left side of your screen you will see a digit, which can be from 0 to 4. This digit shows you,
        how many colors are correct.
    </h3>
<img src="~/images/tutor4.png" height="150" width="600" />
</div>

<div class="row">
    <h3 class="col-md-4">
        Right digit is about how many colors are on the right place.
        That's all you need to know
        until you will try this awesome game, so what are you waiting for? Let's go!
    </h3>
    <img src="~/images/tutor5.png" height="150" width="600" />
</div>
<a class="btn btn-success" href="Home">Let's play</a>