
@{
    ViewBag.Title = "Mastermind";
}
<br />
<div class="row" id="0" style="margin-top:50px">
    <div class="col-md-1" id="leftarea"></div>
    @for (int i = 1; i < 5; i++)
    {
        <div class="col-md-offset-1 col-md-1 ex"></div>
    }
    <div class="col-md-1 col-md-offset-1" style="height:100px">
        <div id="rightarea">
        </div>
    </div>
    <div id="submit" class="btn btn-info col-md-offset-5">I'm sure its right</div>
</div>
<div id="modal_form">
    <span id="modal_close">X</span> 
    Choose a color
    @foreach (var col in ViewBag.colours)
    {
        <div class="cube" style="background-color: @col"></div>
    }
</div>

<div id="overlay"></div>

@section scripts
{
    <script type="text/javascript">
        function verdict(col) {
            if (col < 12) return ["<h2>Congratulations, you won on a " + (col) + " line!</h2>","#krasava"]
            else return ["<h2>sorry, today is not your day</h2> ","#debil"];
        };

        function changecolor(col, trg, mode, l) {
            if (mode == "Classic")
                $("#" + l).children(".ex").each(function () {
                    if ($(this).css('background-color') == col && $(this) != trg)
                    {
                        var cl = trg.css('background-color');
                        $(this).css({
                            "background-color": cl,
                            "box-shadow": "1px 1px 20px 12px " + cl
                        });
                    }
                });
                trg.css({
                    "background-color": col,
                    "box-shadow": "1px 1px 20px 12px " + col
                })
        };


        function rgb2hex(orig) {
            var rgb = orig.replace(/\s/g, '').match(/^rgba?\((\d+),(\d+),(\d+)/i);
            return (rgb && rgb.length === 4) ? "#" +
             ("0" + parseInt(rgb[1], 10).toString(16)).slice(-2) +
             ("0" + parseInt(rgb[2], 10).toString(16)).slice(-2) +
             ("0" + parseInt(rgb[3], 10).toString(16)).slice(-2) : orig;
        }
        var circle;
        $(document).ready(function () {
            var page = location;
            var mode = page.toString();
            mode = mode.slice(mode.search("mode=")+5,mode.length);
            var line = 0;
            $(".btn").bind("click", function (e) {
                line++;
                var bodo = $("#" + (line - 1)).children(".ex");
                var cols = {
                    first: rgb2hex(bodo.eq(0).css('background-color')),
                    second: rgb2hex(bodo.eq(1).css('background-color')),
                    third: rgb2hex(bodo.eq(2).css('background-color')),
                    fourth: rgb2hex(bodo.eq(3).css('background-color'))
                };
                $.ajax({
                    url: "/hello/answer",
                    data: "cols=" + JSON.stringify(cols),
                    type: "POST",
                    success: function (data) {
                        var prevline = $("#" + (line - 1));
                        prevline.find(".btn").fadeOut("normal");
                        if (data[1] == 4 || line == 12)
                        {
                            $(verdict(line)[0]).appendTo(".body-content");
                            $(verdict(line)[1]).css('display', 'block');
                        }
                        else
                        {
                            var cl = prevline.clone(true);
                            prevline.find("#leftarea").html(data[0]);
                            prevline.find("#rightarea").html(data[1]);
                            cl.attr("id", line);
                            cl.fadeIn(700);
                            cl.appendTo(".body-content");
                        }

                    }
                });
            });
            $('.ex').click(function (event) { 
                window.circle = $(this);
                event.preventDefault(); 
                $('#overlay').fadeIn(400, 
                    function () { 
                        $('#modal_form')
                            .css('display', 'block') 
                            .animate({ opacity: 1, top: '50%' }, 200); 
                    });
                $(".cube").click(function () { changecolor($(this).css('background-color'), window.circle,mode,line);});
            });

            
            $('#modal_close, #overlay, .cube').click(function () { 
                $('#modal_form')
                    .animate({ opacity: 0, top: '45%' }, 200,  
                        function () { 
                            $(this).css('display', 'none'); 
                            $('#overlay').fadeOut(400); 
                        }
                    );
            });
        });
    </script>
    
} 